
<div class="container">
	<h1>Edit Student <%= link_to "Back", student_path(@student), class: "btn btn-style pull-right" %></h1><hr/>
	<div class="col-md-8 col-md-offset-2">	
		<div class="student-show">
			<%= render "form" %>
		</div>	
	</div>	
</div>
